.casa{
    border: 1px solid black;
    width: 550px;
    height: 400px;
    margin: auto;

    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr 1fr;
}

.segundo-nivel{
    background-image: url("../assets/textura.jpg");
    background-size: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.ventana{
    background-image: url("../assets/vidrio.jpg");
    background-size: 100%;

    width: 90%;
    height: 90%;
    background-color: rgb(87, 210, 226);
}

.primer-nivel{
    background-image: url("../assets/textura.jpg");
    background-size: 50%;

    border-top: 3px solid rgb(7, 7, 5);

    display: flex;
    justify-content: center;
    align-items: end;
}
.puerta{
    width: 80px;
    height: 130px;
    background-color: brown;

    background-image: url("../assets/madera.jpg");
    background-size: 100%;
}

.garage{
    background-image: url("../assets/textura.jpg");
    background-size: 50%;

    border-left: 5px solid rgb(19, 18, 18);

    display: flex;
    justify-content: center;
    align-items: end;
}
.porton{
    width: 90%;
    height: 80%;
    background-image:url("../assets/garaje.jpg");
}

.techo{
    display: flex;
    align-items: end;
}
.pared{
    width: 100%;
    height: 25%;
    background-color: rgb(141, 65, 14);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.pared div{
    border: 1px solid black;
}